.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline}
nav li a{color: rgb(0, 0, 0);font-size: 30;}
nav {
    background-color: rgb(102, 115, 231);
    border: 1px solid rgb(0, 255, 42);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
body{
    background-color: rgb(114, 228, 243);
    color: rgb(0, 0, 0);
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
table,td,thead,tr{
    border:1px solid #000000;
}
